.mapbox-teaser-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 200px;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .mapbox-teaser-overlay {
    padding: 100px;
  }
}
@media (max-width: 700px) {
  .mapbox-teaser-overlay {
    padding: 50px;
  }
}

.map-teaser {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mapbox-teaser-text {
  top: 10%;
  left: 25%;
  color: white;
  font-size: 28px;
}
.mapbox-teaser-text p {
  font-size: 16px;
}
.mapbox-teaser-text p a {
  color: #ffcc00;
}
.mapbox-teaser-text p a:hover {
  color: white;
}

.load-map-button {
  color: black;
  z-index: 11;
  background-color: #ffcc00;
  padding: 5px;
  cursor: pointer;
  width: 180px;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  border-radius: 100px;
}
.load-map-button:hover {
  color: white;
  background-color: #7aa62c;
}
@media (max-width: 1400px) {
  .load-map-button {
    font-size: 20px;
  }
}

#map {
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 800px;
}
@media (max-width: 1400px) {
  #map {
    height: 500px;
  }
}
#map canvas {
  visibility: visible;
  position: relative;
}
#map svg {
  height: auto;
  width: auto;
}
#map .marker {
  background-image: url(../img/balance/map-marker.png);
  background-size: contain;
  background-repeat: no-repeat !important;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
#map .mapboxgl-popup-wrapper {
  left: 0;
  top: 0;
}
#map .mapboxgl-popup-content {
  font-size: 16px !important;
  min-width: 400px;
}
#map .mapboxgl-popup-content table {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
  margin-bottom: 20px;
}
#map .mapboxgl-popup-content table tr {
  border: 1px solid black;
}
#map .mapboxgl-popup-content table tr td {
  vertical-align: top;
  padding: 10px 0px;
}
#map .mapboxgl-popup-content table tr td:first-child {
  width: 40%;
}
#map .mapboxgl-popup-content a {
  color: #7aa62c;
  background-image: url(../img/balance/download-link.png);
  background-repeat: no-repeat !important;
  background-size: contain;
  padding-left: 20px;
}
#map .mapboxgl-popup-content a:hover {
  color: #97cb3a;
}
#map .mapboxgl-popup-content .mapboxgl-popup-close-button {
  font-size: 30px;
  right: 3px;
  top: 3px;
}
#map .mapboxgl-popup-content .mapboxgl-popup-close-button:hover {
  background-color: #80808059;
}
#map .mapboxgl-popup-content .mapboxgl-popup-close-button:focus {
  outline: none;
}

.location-list-container {
  direction: rtl;
  padding-right: 10px;
  height: 800px;
  overflow-y: auto;
}
@media (max-width: 1400px) {
  .location-list-container {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .location-list-container {
    margin-top: 20px;
  }
}
.location-list-container .location {
  cursor: pointer;
  border-radius: 20px;
  padding: 3px 10px;
  margin-left: 5px;
}
.location-list-container .location:hover {
  background: #f0e9de;
  color: white;
}
.location-list-container .location.active {
  background: #afca0b;
  color: white;
}

.location-list-container {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.location-list-container::-webkit-scrollbar {
  width: 20px;
}
.location-list-container::-webkit-scrollbar-track {
  box-shadow: inset 20px 0px #f0e9de !important;
  border-radius: 10px;
}
.location-list-container::-webkit-scrollbar-thumb {
  background: #afca0b !important;
  border-radius: 10px;
}
.location-list-container::-webkit-scrollbar-thumb:hover {
  background: #a7c00a;
}

/*# sourceMappingURL=mapbox.css.map */
