.mapbox-teaser-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 200px;
  border-radius: 10px;
  @media (max-width: 1400px) {
    padding: 100px;
  }
  @media (max-width: 700px) {
    padding: 50px;
  }
}

.map-teaser {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mapbox-teaser-text {
  top: 10%;
  left: 25%;
  color: white;
  font-size: 28px;
  p {
    font-size: 16px;
    a {
      color: #ffcc00;
      &:hover {
        color: white;
      }
    }
  }
}

.load-map-button {
  color: black;
  z-index: 11;
  background-color: #ffcc00;
  padding: 5px;
  cursor: pointer;
  width: 180px;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  border-radius: 100px;
  &:hover {
    color: white;
    background-color: #7aa62c;
  }
  @media (max-width: 1400px) {
    font-size: 20px;
  }
}

#map {
  position: relative;
  width: 100%;
  border-radius: 10px;
  height: 800px;
  @media (max-width: 1400px) {
    height: 500px;
  }
  canvas {
    visibility: visible;
    position: relative;
  }
  svg {
    height: auto;
    width: auto;
  }
  .marker {
    background-image: url(../img/balance/map-marker.png);
    background-size: contain;
    background-repeat: no-repeat !important;
    width: 30px;
    height: 24px;
    cursor: pointer;
  }
  .mapboxgl-popup-wrapper {
    left: 0;
    top: 0;
  }
  .mapboxgl-popup-content {
    font-size: 16px !important;
    min-width: 400px;
    table {
      border-collapse: collapse;
      border-style: hidden;
      width: 100%;
      margin-bottom: 20px;
      tr {
        border: 1px solid black;
        td {
          vertical-align: top;
          padding: 10px 0px;
          &:first-child {
            width: 40%;
          }
        }
      }
    }
    a {
      color: #7aa62c;
      background-image: url(../img/balance/download-link.png);
      background-repeat: no-repeat !important;
      background-size: contain;
      padding-left: 20px;
      &:hover {
        color: lighten(#7aa62c, 10%);
      }
    }
    .mapboxgl-popup-close-button {
      font-size: 30px;
      right: 3px;
      top: 3px;
      &:hover {
        background-color: #80808059;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.location-list-container {
  direction: rtl;
  padding-right: 10px;
  height: 800px;
  overflow-y: auto;
  @media (max-width: 1400px) {
    height: 500px;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
  }
  .location {
    cursor: pointer;
    border-radius: 20px;
    padding: 3px 10px;
    margin-left: 5px;
    &:hover {
      background: #f0e9de;
      color: white;
    }
    &.active {
      background: #afca0b;
      color: white;
    }
  }
}

.location-list-container {
  /* width */
  &::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 20px 0px #f0e9de !important;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #afca0b !important;
    border-radius: 10px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken(#afca0b, 2%);
  }
}
